In [59]:
import os

spark_version = 'spark-3.3.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 261 kB in 3s (99.7 kB/s)
Reading package lists... Done

In [60]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-09-29 19:48:40--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.2’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.26MB/s    in 0.7s

2022-09-29 19:48:42 (1.26 MB/s) - ‘postgresql-42.2.9.jar.2’ saved [914037/914037]

In [61]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [62]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Books_v1_02.tsv.gz"
spark.sparkContext.addFile(url)

books_df = spark.read.option('header', 'true').csv(SparkFiles.get("amazon_reviews_us_Books_v1_02.tsv.gz"), inferSchema=True, sep='\t', timestampFormat="yyyy-mm-dd")
books_df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|        review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
|         US|   12076615| RQ58W7SMO911M|0385730586|     122662979|Sisterhood of the...|           Books|          4|            2|          3|   N|                N|this book was a g...|this boook was a ...|2005-01-14 00:10:00|
|         US|   12703090|  RF6IUKMGL8SF|0811828964|      56191234|The Bad Girl's Gu...|           Books|          3|            5|          5|   N|                N|           Fun Fluff|If you are lookin...|2005-01-14 00:10:00|
|         US|   12257412|R1DOSHH6AI622S|1844161560|     253182049|Eisenhorn (A Warh...|           Books|          4|            1|         22|   N|                N| this isn't a review|never read it-a y...|2005-01-14 00:10:00|
|         US|   50732546| RATOTLA3OF70O|0373836635|     348672532|Colby Conspiracy ...|           Books|          5|            2|          2|   N|                N|fine author on he...|Though she is hon...|2005-01-14 00:10:00|
|         US|   51964897|R1TNWRKIVHVYOV|0262181533|     598678717|The Psychology of...|           Books|          4|            0|          2|   N|                N|Execellent cursor...|Review based on a...|2005-01-14 00:10:00|
|         US|   31048862|R2F53LI9KK9MOY|0316769487|     862964341|The Catcher in th...|           Books|          4|            2|          2|   N|                N|   Interesting, fun.|My only complaint...|2005-01-14 00:10:00|
|         US|   53000124|R1KJ6MB7MRSQFF|0805076069|     145341889|Bait and Switch: ...|           Books|          4|            9|         11|   N|                N|I viewed this the...|This book is chil...|2005-01-14 00:10:00|
|         US|   29732693|R2XIM9LT335WHE|1581603681|     640542054|Opening Combinati...|           Books|          4|            3|         10|   N|                N|No Frills - Just ...|When looking for ...|2005-01-14 00:10:00|
|         US|   48541186|R1VE0FQQ0QTQJN|0300108834|     915891133|A Little History ...|           Books|          5|           16|         20|   N|                Y|Simple, entertain...|Never been much f...|2005-01-14 00:10:00|
|         US|   15280864|R1VKEE2NWSWDRU|0446531081|     880645124|Hour Game (King &...|           Books|          4|            0|          0|   N|                N|        A good read!|If you enjoy a we...|2005-01-14 00:10:00|
|         US|   24209213|R2UP6XSVYJBJ2H|0976822105|     731931430|     Faith is a Verb|           Books|          5|            0|          0|   N|                N|Made me Question ...|I thoroughly enjo...|2005-01-14 00:10:00|
|         US|   52253037|R21SYDQ70ILUC0|1580085695|     586052746|Furry Logic: A Gu...|           Books|          5|            1|          1|   N|                Y|    The Perfect Gift|If you are stumpe...|2005-01-14 00:10:00|
|         US|   27925116| R7M06Z88PD7SX|0029148510|      72387289|Acts of War: Beha...|           Books|          4|           14|         14|   N|                N|Solid Book About ...|Whether intention...|2005-01-14 00:10:00|
|         US|   15005044| RRS38KZ4WB5O2|1592285570|     702385650|Temple to the Win...|           Books|          5|            1|          1|   N|                N|A riveting accoun...|Temple to the win...|2005-01-14 00:10:00|
|         US|   52534781|R2YDYRSLGNHPHR|0811848833|     102333549|The Star Wars Pos...|           Books|          4|           16|         19|   N|                Y|Comprehensive vis...|At last... a comp...|2005-01-14 00:10:00|
|         US|   26217071|R1BMPM18O6VZOR|0782144276|     971452783|Photoshop for Nat...|           Books|          4|           13|         14|   N|                N|          Great Book|I find \\"Photosh...|2005-01-14 00:10:00|
|         US|   37684582|R1AABFZH0J0C0C|0375757996|     760991156|The Basic Works o...|           Books|          3|           17|         35|   N|                N|Problems with thi...|I love Aristotle ...|2005-01-14 00:10:00|
|         US|   45232107|R3SJYLG07EHNE9|013146308X|     332774292|The Pterosaurs: F...|           Books|          2|           16|         34|   N|                N|Warmed over lefto...|To his discredit,...|2005-01-14 00:10:00|
|         US|   15437121|R2TIO43ND87XVO|0375701907|     635714194|Straight Man: A N...|           Books|          5|            1|          1|   N|                N|       Funniest Book|Hands down, the f...|2005-01-14 00:10:00|
|         US|   52157117|R18TY4WD19OUAO|141378240X|     656010659|   Lipstick's Legacy|           Books|          5|            1|          1|   N|                N|          Great Work|I read this book ...|2005-01-14 00:10:00|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [63]:
# Count number of records
books_df.count()

3105520

In [64]:
# Drop null values and count new total records
books_df = df.dropna()
books_df.count()

2794293

In [65]:
# Print schema
books_df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: timestamp (nullable = true)

In [69]:
# Changing datatypes

from pyspark.sql.types import StringType

books_df = df.withColumn("product_id", df["star_rating"].cast(StringType()))\


# Print schema
books_df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: timestamp (nullable = true)

In [70]:
# Create review dataframe to match review_id_table table
review_id_df = df.select(["review_id","customer_id","product_id", "product_parent","review_date"])
review_id_df.show()

+--------------+-----------+----------+--------------+-------------------+
|     review_id|customer_id|product_id|product_parent|        review_date|
+--------------+-----------+----------+--------------+-------------------+
| RQ58W7SMO911M|   12076615| 385730586|     122662979|2005-01-14 00:10:00|
|  RF6IUKMGL8SF|   12703090| 811828964|      56191234|2005-01-14 00:10:00|
|R1DOSHH6AI622S|   12257412|1844161560|     253182049|2005-01-14 00:10:00|
| RATOTLA3OF70O|   50732546| 373836635|     348672532|2005-01-14 00:10:00|
|R1TNWRKIVHVYOV|   51964897| 262181533|     598678717|2005-01-14 00:10:00|
|R2F53LI9KK9MOY|   31048862| 316769487|     862964341|2005-01-14 00:10:00|
|R1KJ6MB7MRSQFF|   53000124| 805076069|     145341889|2005-01-14 00:10:00|
|R2XIM9LT335WHE|   29732693|1581603681|     640542054|2005-01-14 00:10:00|
|R1VE0FQQ0QTQJN|   48541186| 300108834|     915891133|2005-01-14 00:10:00|
|R1VKEE2NWSWDRU|   15280864| 446531081|     880645124|2005-01-14 00:10:00|
|R2UP6XSVYJBJ2H|   24209213| 976822105|     731931430|2005-01-14 00:10:00|
|R21SYDQ70ILUC0|   52253037|1580085695|     586052746|2005-01-14 00:10:00|
| R7M06Z88PD7SX|   27925116|  29148510|      72387289|2005-01-14 00:10:00|
| RRS38KZ4WB5O2|   15005044|1592285570|     702385650|2005-01-14 00:10:00|
|R2YDYRSLGNHPHR|   52534781| 811848833|     102333549|2005-01-14 00:10:00|
|R1BMPM18O6VZOR|   26217071| 782144276|     971452783|2005-01-14 00:10:00|
|R1AABFZH0J0C0C|   37684582| 375757996|     760991156|2005-01-14 00:10:00|
|R2TIO43ND87XVO|   15437121| 375701907|     635714194|2005-01-14 00:10:00|
|R3CFYTUA9JI8B5|   15865974| 814470734|     867819017|2005-01-14 00:10:00|
|R3MD5TZJGIPTDU|   13503149|1585424307|     915155182|2005-01-14 00:10:00|
+--------------+-----------+----------+--------------+-------------------+
only showing top 20 rows

In [71]:
# Print schema
review_id_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- review_date: timestamp (nullable = true)

In [72]:
# Create product dataframe to match products table(only unique values)
from pyspark.sql.functions import asc
products_df = df.select(["product_id","product_title"])
products_df = products_df.dropDuplicates()
products_df = products_df.orderBy(asc("product_id"))
products_df.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|        78|Conversations wit...|
|       116|Georgina Goodman ...|
|       868|Foot Rot of Piper...|
|     20214|Connoisseur's Han...|
|     24341|Groundwork of Eva...|
|     42382|      Other Shepards|
|    913154|The Way Things Wo...|
|   1006002|    The Rescue Party|
|   1018043| The Enchanted Horse|
|   1035649|Under Milk Wood: ...|
|   1046535|   As the Crow Flies|
|   1046810|Tess of the D'Urb...|
|   1047868|Kidnapped (Harper...|
|   1050818|Star Wars: The Tr...|
|   1052020|            Lord Jim|
|   1052942|      Yellow Admiral|
|   1053310|        Hms Surprise|
|   1053396|War Poems: An Ant...|
|   1053736|Sir Gawain and th...|
|   1053744| Pearl and Sir Orfeo|
+----------+--------------------+
only showing top 20 rows

In [73]:
# Create customer dataframe to match customers table
from pyspark.sql.functions import desc

customers_df = df.groupby("customer_id").agg({"customer_id":"count"})
customers_df = customers_df.orderBy(desc("count(customer_id)"))
customers_df = customers_df.withColumnRenamed("count(customer_id)", "customer_count") 
customers_df.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   50122160|         19923|
|   50732546|          9126|
|   52615377|          2379|
|   45041039|          2034|
|   50776149|          1642|
|   50913245|          1559|
|   45273033|          1457|
|   20595117|          1374|
|   39569598|          1263|
|   49693975|          1262|
|   36642996|          1203|
|   38491967|          1196|
|   50881246|          1152|
|   52254603|          1046|
|   49750558|           946|
|   49115690|           946|
|   51987970|           945|
|   50608834|           919|
|   51147790|           911|
|   43546353|           902|
+-----------+--------------+
only showing top 20 rows

In [74]:
# Create vine dataframe to match vine_table table

from pyspark.sql.functions import col

vine_table_df = df.select(["review_id","star_rating","helpful_votes", "total_votes","vine"])

# # Filter for only columns from Amazon's Vine program
# vine_table_df = vine_table_df.filter(col("vine")  == "Y")
vine_table_df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
| RQ58W7SMO911M|          4|            2|          3|   N|
|  RF6IUKMGL8SF|          3|            5|          5|   N|
|R1DOSHH6AI622S|          4|            1|         22|   N|
| RATOTLA3OF70O|          5|            2|          2|   N|
|R1TNWRKIVHVYOV|          4|            0|          2|   N|
|R2F53LI9KK9MOY|          4|            2|          2|   N|
|R1KJ6MB7MRSQFF|          4|            9|         11|   N|
|R2XIM9LT335WHE|          4|            3|         10|   N|
|R1VE0FQQ0QTQJN|          5|           16|         20|   N|
|R1VKEE2NWSWDRU|          4|            0|          0|   N|
|R2UP6XSVYJBJ2H|          5|            0|          0|   N|
|R21SYDQ70ILUC0|          5|            1|          1|   N|
| R7M06Z88PD7SX|          4|           14|         14|   N|
| RRS38KZ4WB5O2|          5|            1|          1|   N|
|R2YDYRSLGNHPHR|          4|           16|         19|   N|
|R1BMPM18O6VZOR|          4|           13|         14|   N|
|R1AABFZH0J0C0C|          3|           17|         35|   N|
|R2TIO43ND87XVO|          5|            1|          1|   N|
|R3CFYTUA9JI8B5|          5|            5|          6|   N|
|R3MD5TZJGIPTDU|          5|           21|         31|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [75]:
# Configuration for RDS instance
mode="append"
jdbc_url = "jdbc:postgresql://database-1.c1lahiassvlb.us-west-1.rds.amazonaws.com:5432/book_reviews"
config = {"user":"postgres",
          "password": "March594!",
          "driver":"org.postgresql.Driver"}

In [76]:
# Write DataFrame to review_id_df table in RDS

review_id_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

In [77]:
# Write DataFrame to products table in RDS

products_df.write.jdbc(url=jdbc_url, table='products', mode=mode, properties=config)

In [78]:
# Write DataFrame to customers table in RDS

customers_df.write.jdbc(url=jdbc_url, table='customers', mode=mode, properties=config)

In [79]:
# Write DataFrame to vine_table table in RDS

vine_table_df.write.jdbc(url=jdbc_url, table='vine_table', mode=mode, properties=config)